.about_text{
    margin: 0 auto;
    text-align: justify;
    max-width: 70%;
    p{
        color: rgba(216, 22, 142, 0.97);
        font-size: 18px;
        padding-top: 20px;
        text-indent: 30px;
    }
}