.schema_btn {
  position: absolute;
  width: 70px;
  top: 20%;
  right: 0;
  transform: translateY(-50%);
  transform: rotate(270deg);
  padding: 8px;
  background-color: green;
  border-radius: 10%;
  border: 0;
  color: azure;
}

.expanded_btn {
  position: relative;
  transform: translateY(-50%);
  transform: rotate(270deg);
  background-color: green;
  border-radius: 10%;
  border: 0;
  color: azure;
  top: 20%;
  right: 55px;
  padding: 8px;
  width: 70px;
  font-weight:normal;
}

.schema_container {
  z-index: 2;
  height: 100vh;
  width: 320px;
  position: fixed;
  background-color: white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  .schema_text-area{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
}

.schema_input {
  margin-top: 120px;
  margin-bottom: 20px;
  padding-left: 10px;
  color: #333;
  border-radius: 0.2rem;
  border: solid rosybrown;
  outline: none;
  width: 90%;
}
