.container-var {
  position: absolute;
  font-family: 14px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.btn-hide {
  position: absolute;
  left: 5px;
  top: 5px;
  text-decoration: none;
  width: 15px;
  height: 15px;
  border: 0;
  opacity: 0.5;
  cursor:pointer;
  :hover{
    fill: aliceblue;
  }
}

.variables_container-1 {
  width: 200px;
  background-color: rgb(72, 66, 66);
  border: 2px solid rgb(72, 1, 72);
  border: 0;
  color: grey;
}

.variables_container-2 {
  width: 200px;
  background-color: rgb(72, 66, 66);
  border: 2px solid rgb(72, 1, 72);
  border: 0;
  color: white;
}

.text-area {
  outline: none;
  padding-left: 10px;
  width: 400px;
  height: 100px;
  background-color: rgb(72, 66, 66);
  color: rgb(204, 147, 41);
  border: 0;
}
