.container-var {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.variables_container {
  width: 275px;
  background-color: rgb(72, 66, 66);
  border: 2px solid rgb(72, 1, 72);
  border-radius: 5px;
}

.text-area {
  width: 275px;
  height: 100px;
  background-color: rgb(72, 66, 66);
  color: rgb(204, 147, 41);
  border: 2px solid rgb(72, 1, 72);
  border-radius: 5px;
}
