.container-var {
  position: absolute;
  font-family: 'Source Code Pro','Consolas','Inconsolata','Droid Sans Mono','Monaco',monospace;
  font-family: 14px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.btn-hide {
  width: 400px;
  height: 10px;
  background-color: rgb(72, 66, 66);
  border: 0;
  cursor: pointer;
}

.variables_container-1 {
  width: 200px;
  background-color: rgb(72, 66, 66);
  border: 2px solid rgb(72, 1, 72);
  border: 0;
  color: grey;
}

.variables_container-2 {
  width: 200px;
  background-color: rgb(72, 66, 66);
  border: 2px solid rgb(72, 1, 72);
  border: 0;
  color: white;
}

.text-area {
  outline: none;
  padding-left: 10px;
  width: 400px;
  height: 100px;
  background-color: rgb(72, 66, 66);
  color: rgb(204, 147, 41);
  border: 0;
}
