  .footer {
    // position: absolute;
    // bottom: 0;
    padding: 18px 10rem;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .footer_left{
      display: flex;
      align-items: center;
    }
    .container {
        width: 60%;
    }
    &__copyright {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        color: rgb(19, 19, 19);
        width: 20%;
      }   
  }
  