.response_container {
  font-family: 'Source Code Pro','Consolas','Inconsolata','Droid Sans Mono','Monaco',monospace;
  font-size: 14px;
  width: 99%;
  height: 80vh;
  background-color: rgba(63, 63, 92, 0.501);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a949c;
}
