.response_container {
  font-family: 'Source Code Pro','Consolas','Inconsolata','Droid Sans Mono','Monaco',monospace;
  width: 99%;
  height: 80vh;
  background-color: rgba(63, 63, 92, 0.501);
  display: flex;
  justify-content: center;
  align-items: center;
  .text_container{
    width: 99%;
    height: 100%;
    padding: 20px;
    background-color:inherit;
    color: #8a949c;
    font-size: 14px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    :focus{
      outline: none;
    }
  }
}
